/*General style */
    
body{
    margin: 0;
    padding: 0;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../images/mainbg.webp') no-repeat fixed center; 
}

.logo-flex {
    /*border: 5px solid blue;*/
    width: auto;
    height: 10rem;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /*position: relative;
    width: 100%;
    height: 100%;
    text-align: center;*/
}

.logo {
    width: 100%;
    height: 100%;
    background: url('../images/messymemlogobrown.webp') no-repeat center center;
}

.game-container {
    margin-top: 2rem;
    margin-left: 21rem; 
    margin-right: 5rem;
    align-items: center;
    width: 50%;
    height: 450px;
    border: 5px solid red;
    background-image: url('../images/mariobackgrd.jpg'); 
    background-size: cover;
    background-position: left;
    background-blend-mode: lighten;
    opacity: .8;
}

.scores {
    display: flex;
}

.cards-area {
    display: grid;
    
}

#hero-outer{
    height: 70vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#hero-image {
 height: 700px;
 width: 700px;
 background-image: url('../assets/images/mainbg.webp') no-repeat center center;   
 background-size: cover;
}

.easy_drop_div {
    height: 12vw;
    width: 26vw;
}

.hard_drop_div {
    height: 12vw;
    width: 39vw;
}

.img_container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 15px;
    border: #00aa88;
    border-style: groove;
    text-align: center;
    margin: 0vw 1vw 0vw 1vw;
    padding-top: 1vw;
}

.hard {
     width: 11vw;
     height: 11vw;
}
.easy {
      width: 11vw;
      height: 11vw;
}

.easy>img {
    max-height: 100%;
}

.hard>img {
    max-height: 100%;
}