/*General style */
    
body{
    margin: 0;
    padding: 0;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../images/mainbg.webp') no-repeat fixed center;
}

.brown-container {
    border-radius: 15px;
    margin: .5rem 0 .5rem 0;
    border: 5px solid rgba(0, 0, 0, 0.84);
    background-color: rgba(141, 76, 3, 0.75);
    background-blend-mode: lighten;
    opacity: .8;
}

.info-container {
    margin-top: .3rem;
    border: 5px solid red;
    border-radius: 10px;
    background-image: url('../images/mariobackgrd.jpg');
    background-size: cover;
    background-position: left;
    background-blend-mode: lighten;
    opacity: .8;
    /*height: 5rem;*/
    /*border-radius: 15px;*/
    /*border: #00aa88;*/
    /*border-style: groove;*/
    text-align: center;

    padding: .1rem 0 0 0;
}

#top {
    /*font-size: 10px;*/
    font-size: calc(1vw + 1vh)
}

#lastPerfectScoree {
    font-size: calc(1vw + 3vh)
}

#timer {
    font-size: 16px;
    font-size: calc(.8vw + 5vh)
    /*font-size: xx-large;*/
    /*font-optical-sizing: inherit;*/
}

.red-container {
    margin-top: .3rem;
    border: 5px solid red;
    border-radius: 10px;
    background-image: url('../images/mariobackgrd.jpg');
    background-size: cover;
    background-position: left;
    background-blend-mode: lighten;
    opacity: .8;
}

.game-cards-container {
    border-radius: 5px;

}

.expert_drop_div {
    /*height: 7rem;*/
    /*width: 6.75rem;*/
    /*height: 6.75rem;*/

}

.img_container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*border-radius: 15px;*/
    /*border: #00aa88;*/
    /*border-style: groove;*/
    text-align: center;
    /*margin: .5rem .5rem .5rem .5rem;*/
    /*padding-top: .5rem;*/
}

.expert {
    /*width: 6.75rem;*/
    /*height: 6.75rem;*/
}

.expert>img {
    max-height: 100%;
}

.logo {
    height: 8rem;
    background-position: center;
    /*border-radius: 15px;*/
    /*border: #00aa88;*/
    /*border-style: groove;*/
    text-align: center;
    margin: 0 1rem 0 1rem;
    padding-top: 1rem;
}

.logo>img {
    max-height: 96%;
    /*background: url('../images/messyMemLogoNormal.png') no-repeat center center;*/
}

.action_button {
    height: 3rem;
    margin: 1rem 0 1rem;
}

.card-body {
    text-align: center;
}

.button_container {
    border-radius: 15px;
    border: #00aa88;
    border-style: groove;
    text-align: center;
    margin: .3rem .3rem .3rem .3rem;
    padding-top: .3rem;
}