/*General style */

body{
    margin: 0;
    padding: 0;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../images/mainbg.webp') no-repeat fixed center;
}

.red-box {
    border: 5px solid red;
    background-color: rgba(255, 16, 0, 0.38);
    border-radius: 10px;
}

.button-container {
    border-radius: 10px;
    margin: .5rem 0 .5rem 0;
    background-blend-mode: lighten;
    opacity: .8;
}

.score-time-container {
    margin-top: .3rem;
    padding: .1rem 0 0 0;
}

#top {
    font-size: 10px;
    font-size: calc(1vw + 1vh)
}

#lastPerfectScoree {
    font-size: 14px;
    font-size: calc(1vw + 3vh)
}

#timer {
    font-size: 16px;
    font-size: calc(.8vw + 5vh)
}

.red-container {
    margin-top: .3rem;
    border: 5px solid red;
    border-radius: 10px;
    background-image: url('../images/mariobackgrd.jpg');
    background-size: cover;
    background-position: left;
    background-blend-mode: lighten;
    opacity: .8;
}

.game-cards-container {
    border-radius: 5px;

}

.img_container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

.expert>img {
    max-height: 100%;
}

.logo {
    height: 8rem;
    background-position: center;
    text-align: center;
    margin: 0 1rem 0 1rem;
    padding-top: 1rem;
}

.logo>img {
    max-height: 96%;
}

.action_button {
    height: 3rem;
    margin: 1rem 0 1rem;
}

.card-body {
    text-align: center;
}

.button_container {
    border-radius: 15px;
    border: #00aa88;
    border-style: groove;
    text-align: center;
    margin: .3rem .3rem .3rem .3rem;
    padding-top: .3rem;
}