body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../images/mainbg.webp');
}

#main-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid blue;
    text-align: center;
}

.logo {
    
}

#hero-outer{
    height: 70vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#hero-image {
 height: 700px;
 width: 700px;
 background-image: url('../assets/images/mainbg.webp') no-repeat center center;   
 background-size: cover;
}